@keyframes handsMovement {
    0% {
        transform: translateY(-7px);
    }
    25% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(7px);
    }
    75% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-7px);
    }
}

@keyframes horseJumping {
    0% {
        transform: translateY(-4px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(4px);
    }
}

.section_2 {
    display: flex;
    justify-content: space-around;
    align-items: end;
    gap: 20px;
    padding-block: 120px;
}

.section_2_text {
    width: 38%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 150px;
}

.section_2_text label {
    font-size: calc(var(--h4) + 2px);
    font-family: var(--ff-secondary);
    font-weight: calc(var(--fw) - 200);
    color: var(--pink);
    display: flex;
    align-items: end;
    gap: 20px;
}

.section_2_text span::before {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/cap.svg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;
    opacity: 0.3;
    margin-top: -13%;
    margin-left: -4%;
}

.section_2_text span::after {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/horse.svg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    margin-top: -28%;
    margin-left: 30%;
    animation: horseJumping infinite 4s;
}

.section_2_text h2 {
    font-size: calc(var(--h1));
}

.section_2_text p {
    font-size: var(--h4);
    color: var(--grey);
    padding-block: 15px;
    margin-bottom: 18px;
    line-height: 25px;
}

.section_2_image {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.section_2_image .animated {
    width: 38%;
}

.section_2_image .animated img {
    width: 100%;
    height: auto;
}

.section_2_image .animated:first-child img {
    border-bottom-right-radius: 100%;
    margin: 0px -20px 0px 20px;
}

.section_2_image .animated:last-child  img{
    border-top-left-radius: 100%;
    margin: 0px 20px 0px -20px;
}

.hands {
    width: 8%;
    position: absolute;
    margin-top: -400px;
    right: -1.1px;
    animation: handsMovement infinite 5s;
}

@media screen and (max-width: 1024px) {
    .section_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-block: 120px;
    }
    
    .section_2_text {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 25px;
        padding-left: 0px;
    }
    
    .section_2_text label {
        justify-content: center;
    }
    
    .section_2_text span::before {
        width: 42px;
        height: 42px;
        margin-top: -8%;
        margin-left: -4%;
    }
    
    .section_2_text span::after {
        display: none;
    }
    
    .section_2_text .animated {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section_2_text h2 {
        width: 90%;
        font-size: calc(var(--h1));
    }
    
    .section_2_text p {
        padding-block: 20px;
        margin-bottom: 0px;
    }

    .button-text {
        margin-block: 20px;
    }
    
    .section_2_image {
        justify-content: center;
    }
    
    .hands {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .section_2 {
        padding-block: 90px;
    }
    
    .section_2_text {
        width: 65%;
    }

    .section_2_text h2 {
        width: 80%;
    }

    .section_2_image {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    
    .section_2_image .animated {
        width: 46%;
    }
}

@media screen and (max-width: 768px) {
    .section_2_text {
        width: 64%;
    }
}

@media screen and (max-width: 440px) {
    .section_2 {
        padding-block: 80px;
    }
    
    .section_2_text {
        width: 80%;
        padding-left: 0px;
    }
    
    .section_2_text span::before {
        margin-top: -13%;
        margin-left: -8%;
    }

    .section_2_text h2 {
        width: 100%;
        font-size: calc(var(--h1) - 4px);
    }

    .button-text {
        margin-block: 20px;
    }
    
    .section_2_image {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .section_2_image .animated {
        width: 80%;
    }

    .section_2_image .animated:first-child img, .section_2_image .animated:last-child img {
        margin: 0px;
    }
}