@keyframes rockshake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes textFickle {
    0% {
        text-shadow: 4px 4px var(--grey);
    }

    100% {
        text-shadow: 5.9px 5.9px var(--grey);
    }
}

@keyframes tada {
    0% {
        transform: scale(0.1);
    }

    100% {
        width: scale(1);
    }
}

.hero {
    width: 100%;
}

.hero .react-multiple-carousel__arrow--left {
    background-color: transparent;
    background-image: url('../../../../public/assets/left-rocket.svg') !important;
    background-size: 80% !important;
    background-repeat: no-repeat !important;
    transform-origin: center;
    animation: 3s ease-in-out 0s infinite alternate both rockshake;
    margin-left: 2%;
    margin-top: -2%;
}

.hero .react-multiple-carousel__arrow--left:hover {
    background-color: transparent;
    animation: none;
}

.hero .react-multiple-carousel__arrow--left::before {
    content: none !important;
}

.hero .react-multiple-carousel__arrow--right {
    background-color: transparent;
    background-image: url('../../../../public/assets/right-rocket.svg') !important;
    background-size: 80% !important;
    background-repeat: no-repeat !important;
    transform-origin: center;
    animation: 3s ease-in-out 0s infinite alternate both rockshake;
    margin-top: -2%;
}

.hero .react-multiple-carousel__arrow--right:hover {
    background-color: transparent;
    animation: none;
}

.hero .react-multiple-carousel__arrow--right::before {
    content: none !important;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 133%;
    color: var(--white);
    height: 880px;
}

.carousel-item-heading {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: center;
    animation: tada linear 0.4s;
    gap: 15px;
}

.carousel-item h1 {
    font-size: 200px;
    animation: 0.4s linear infinite textShadow;
    text-align: start;
}

.carousel-item h2 {
    font-size: 70px;
}

.carousel-item h3 {
    font-size: 50px;
}

.carousel-item a {
    padding: 0.9em 2em;
    font-size: calc(var(--h4) + 2px);
    background-color: var(--pink);
    color: var(--white);
    border: 0px;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    z-index: 1;
}

.carousel-item a:hover {
    background-color: var(--white);
    color: var(--blue-light);
}

.heading.xl {
    text-align: center;
    line-height: 1.2em;
    width: 45%;
    font-size: 100px;
    animation: 0.4s ease-in-out 0s infinite alternate both textFickle;
}

.sub-heading.xl {
    font-size: 40px;
}

.carousel-item.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 165%;
    color: var(--white);
    height: 850px;
}

.carousel-item.second .inner {
    position: absolute;
    margin-top: -8%;
}

.carousel-item.second .inner h1 {
    font-size: 100px;
    animation: 0.6s linear infinite textShadow;
    text-align: start;
}

.carousel-item.second .inner h2 {
    font-size: 70px;
}

.carousel-item.second .inner h3 {
    font-size: 50px;
    width: 130%;
}

.carousel-item.second .inner a {
    padding: 0.9em 2em;
    font-size: calc(var(--h4) + 2px);
    background-color: var(--pink);
    color: var(--white);
    border: 0px;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    z-index: 1;
}

.carousel-item.second .inner a:hover {
    background-color: var(--white);
    color: var(--blue-light);
}

.cloud-banner.orange {
    position: absolute;
    margin-top: -9.75%;
    width: 100%;
    height: 103px;
    mask: url('../../../../public/assets/cloud-1.png');
    background-color: var(--white);
    opacity: 0.95;
    mask-image: url('../../../../public/assets/cloud-1.png');
    mask-size: 100%;
    mask-position: center;
    mask-repeat: repeat-x;
}

.cloud-banner.white {
    margin-top: -9.3%;
    position: absolute;
    width: 100%;
    height: 103px;
    mask: url('../../../../public/assets/cloud-1.png');
    mask-size: 95%;
    mask-position: left;
    mask-repeat: repeat-x;
    background-color: var(--white);
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    .carousel-item {
        height: 780px;
        gap: 20px;
        background-size: 168%;
    }

    .heading.xl {
        width: 80%;
        font-size: 70px;
    }

    .cloud-banner.orange {
        margin-top: -172px;
    }

    .cloud-banner.white {
        margin-top: -17%;
    }
}

@media screen and (max-width: 992px) {
    .carousel-item {
        height: 750px;
        gap: 20px;
        background-size: 210%;
    }

    .carousel-item.carousel-item.second {
        background-size: 195%;
    }

    .heading.xl {
        width: 80%;
        font-size: 70px;
    }

    .cloud-banner.orange {
        margin-top: -25%;
    }

    .cloud-banner.white {
        margin-top: -25%;
    }
}

@media screen and (max-width: 768px) {
    .carousel-item.carousel-item.second {
        background-size: 200%;
    }
}

@media screen and (max-width: 440px) {
    .hero {
        position: relative;
        z-index: 1;
    }

    .carousel-item {
        height: 65%;
        gap: 20px;
        background-size: auto;
    }

    .carousel-item.carousel-item.second {
        background-size: 300%;
    }

    .carousel-item.second .carousel-item-heading h1 {
        font-size: 60px;
    }

    .carousel-item.second .carousel-item-heading h2, .carousel-item.second .carousel-item-heading h3 {
        font-size: 30px;
    }

    .heading.xl {
        width: 82%;
        font-size: 30px;
    }

    .sub-heading.xl {
        font-size: 20px;
    }

    .hero .react-multiple-carousel__arrow--left {
        background-size: 50% !important;
        margin-left: 2%;
        margin-top: 10%;
    }

    .hero .react-multiple-carousel__arrow--right {
        background-size: 50% !important;
        margin-right: -20%;
        margin-top: 10%;
    }

    .cloud-banner.orange, .cloud-banner.white {
        margin-top: -100%;
    }
}