@keyframes rockshake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes textFickle {
    0% {
        text-shadow: 4px 4px var(--grey);
    }
    100% {
        text-shadow: 5px 5px var(--grey);
    }
}

.hero {
    width: 100%;
}

.hero .carousel-item {
    height: 800px;
    border: 1px solid red;
}

.hero .react-multiple-carousel__arrow--left {
    width: 120px;
    min-height: 60px;
    background-color: transparent;
    background-image: url('C:\Users\Cloud1 Web Solutions\Desktop\Shantanu\kids-cool-theme\public\assets\left-rocket.svg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    transform-origin: center;
    animation: 3s ease-in-out 0s infinite alternate both rockshake;
}

.hero .react-multiple-carousel__arrow--left:hover {
    background-color: transparent;
}

.hero .react-multiple-carousel__arrow--left::before {
    content: none !important;
}

.hero .react-multiple-carousel__arrow--right {
    width: 120px;
    min-height: 60px;
    background-color: transparent;
    background-image: url('C:\Users\Cloud1 Web Solutions\Desktop\Shantanu\kids-cool-theme\public\assets\right-rocket.svg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    color: red;
    transform-origin: center;
    animation: 3s ease-in-out 0s infinite alternate both rockshake;
}

.hero .react-multiple-carousel__arrow--right:hover {
    background-color: transparent;
}

.hero .react-multiple-carousel__arrow--right::before {
    content: none !important;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 133%;
}

.carousel-item {
    color: var(--white);
}

.carousel-item h1 {
    font-size: 200px;
    animation: 0.3s ease-in-out 0s infinite alternate both textFickle;
}

.carousel-item h2 {
    font-size: 70px;
}

.carousel-item h3 {
    font-size: 50px;
}

.carousel-item a {
    padding: 0.9em 2em;
    font-size: calc(var(--h4) + 2px);
    background-color: var(--pink);
    color: var(--white);
    border: 0px;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: skew(0deg);
    position: relative;
    z-index: 1;
}

.carousel-item a:hover {
    background-color: var(--white);
    color: var(--blue-light);
    transform: skew(30deg);
}

.heading.xl {
    text-align: center;
    line-height: 1.2em;
    width: 50%;
    font-size: 100px;
    animation: 0.3s ease-in-out 0s infinite alternate both textFickle;
}

.sub-heading.xl {
    font-size: 40px;
}

.cloud-banner.orange {
    position: relative;
    margin-top: -100px;
    padding-block: 50px;
    width: 100%;
    height: 70px;
    mask: url('../../../../public/assets/cloud-1.png');
    background-color: var(--gold);
    -webkit-mask-image: url('../../../../public/assets/cloud-1.png');
    -webkit-mask-size: contain;
    -webkit-mask-position: bottom center;
    -webkit-mask-repeat: repeat-x;
}

.cloud-banner.white {
    padding-block: 50px;
    width: 100%;
    height: 70px;
    mask: url('../../../../public/assets/cloud-1.png');
    background-color: var(--white);
}