.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue);
    overflow-y: hidden;
    padding-bottom: 50px;
}

.footer-top {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 4px;
    color: var(--white);
    padding: 20px;
    background-image: url('../../../../public/assets/footer-bg-1.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 165%;
    height: 360px;
    background-color: #FEF9F5;
}

.footer-row-1 {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.social-icons {
    display: inline-flex;
    gap: 10px;
    padding-top: 20px;
}

.social-icons i {
    background-color: var(--white);
    color: var(--blue);
    border-radius: 100%;
    padding-inline: 10px;
    padding-block: 8px;
}

.social-icons i:hover {
    background-color: var(--pink);
    color: var(--white);
}

.footer-row-1 img {
    width: 15%;
}

.footer-main {
    width: 78%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 50px;
}

.footer-row-2 {
    display: flex;
    gap: 50px;
}

.footer-row-2::after {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/pencil_boy_2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    right: -7%;
    top: 5%;
}

.footer-row-2-col-1 img {
    width: 40%;
}

.footer-row-2-col-1 {
    font-size: var(--h4);
}

.footer-row-2-col-2, .footer-row-2-col-3, .footer-row-2-col-4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-row-2-col-2 label, .footer-row-2-col-3 label, .footer-row-2-col-4 label {
    font-size: calc(var(--h3) + 1px);
    font-family: var(--ff-secondary);
}

.footer-row-2-col-2 ul, .footer-row-2-col-3 ul {
    list-style: none;
}

.footer-row-2-col-2 ul li, .footer-row-2-col-3 li {
    padding-block: 7px;
}

.footer-row-2-col-2 li a, .footer-row-2-col-3 li a {
    font-size: var(--h4);
    color: var(--white);
    text-decoration: none;
}

.footer-row-2-col-4-galleries {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.footer-row-2-col-4-galleries img {
    width: 70px;
    height: 60px;
    border-radius: 10px;
}

.footer-row-3 {
    display: flex;
    justify-content: space-between;
}

.underline_bg {
    position: relative;
}

.underline-container-1, .underline-container-2 {
    position: relative;
}

.underline-container-1::after {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/pencil_girl_2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 90px;
    height: 100px;
    z-index: 1;
    right: -2%;
    top: -95px;
}

.underline-container-2::after {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/cloud_1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 100px;
    z-index: 1;
    right: -10%;
    top: -80px;
}

.footer-row-4 {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-row-4-col-1 {
    width: 35%;
    font-size: var(--h4);
}

.footer-row-4-col-2 img {
    width: 120px;
    height: 300px;
    transform: rotate(90deg);
}

.footer-row-4-col-3 {
    display: flex;
    flex-direction: column;
}

.footer-row-4-col-3 span:first-child img {
    width: 50px;
    height: 40px;
    transform: rotate(0deg);
    margin-inline: 4px;
}

.footer-row-4-col-3 span:last-child {
    display: inline-flex;
    gap: 10px;
}

.footer-row-4-col-3 span:last-child a {
    font-size: var(--h4);
    text-decoration: none;
    color: var(--white);
}

.footer-row-2-col-2 a:hover, .footer-row-2-col-3 a:hover, .footer-row-4-col-3 span a:hover {
    color: var(--blue-light);
}

@media screen and (max-width: 1024px) {
    .footer-row-1, .footer-row-2::after, .underline_bg:first-child:after, .underline_bg:last-child:after {
        display: none;
    }
    
    .footer-row-2 {
        flex-wrap: wrap;
    }

    .footer-row-2-col-1 {
        width: 40%;
    }

    .footer-row-2-col-4-galleries {
        width: 50%;
    }
}

@media screen and (max-width: 440px) {
    .footer-top {
        background-size: 1080%;
    }

    .footer-row-2, .footer-row-4 {
        flex-direction: column;
    }

    .footer-row-2 div {
        width: 90%;
    }

    .underline-container-2, .underline-container-1::after, .underline-container-2::after, .footer-row-4-col-2 {
        display: none;
    }

    .underline_bg {
        width: 100%;
    }

    .footer-row-4-col-1 {
        width: 80%;
    }
}