.teachers {
    padding-block: 50px;
}

.teacher_carousel ul {
    justify-content: center !important;
    gap: 80px;
}

.teacher_item {
    width: 280px !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-block: 40px;
}

.teacher_item img {
    width: 100%;
    mask-image: url('../../../../public/assets/teacher.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
}

.teacher_item h1 {
    font-size: var(--h2);
    color: var(--blue-light);
}

.teacher_item p {
    font-size: var(--h4);
    color: var(--grey);
}

.teacher_item span {
    display: flex;
    gap: 10px;
    align-items: center;
}

.teacher_item a {
    padding-block: 5px;
    padding-inline: 10px;
    background-color: var(--pink);
    color: var(--white);
    border-radius: 55% 45% 62% 38% / 42% 40% 60% 58%;
}

.react-multiple-carousel__arrow {
    min-width: 170px !important;
    min-height: 70px !important;
}

.teacher_carousel .react-multiple-carousel__arrow--left {
    background-image: url('../../../../public/assets/spider-left.svg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-color: transparent;
    transform-origin: center;
    animation: 3s ease-in-out 0s infinite alternate both rockshake;
}

.teacher_carousel .react-multiple-carousel__arrow--left:hover {
    background-color: transparent;
}

.teacher_carousel .react-multiple-carousel__arrow--left::before {
    content: none !important;
}

.teacher_carousel .react-multiple-carousel__arrow--right {
    background-image: url('../../../../public/assets/spider-right.svg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-color: transparent;
    transform-origin: center;
    animation: 3s ease-in-out 0s infinite alternate both rockshake;
}

.teacher_carousel .react-multiple-carousel__arrow--right:hover {
    background-color: transparent;
}

.teacher_carousel .react-multiple-carousel__arrow--right::before {
    content: none !important;
}

.people_gossiping_img {
    width: 120px;
    opacity: 0.1;
    transform: rotate(-15deg);
}

@media screen and (max-width: 440px) {
    .teacher_carousel .react-multiple-carousel__arrow--left {
        background-image: url('../../../../public/assets/spider-left.svg') !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-color: transparent;
        transform-origin: center;
        animation: 3s ease-in-out 0s infinite alternate both rockshake;
    }
    
    .teacher_carousel .react-multiple-carousel__arrow--left:hover {
        background-color: transparent;
    }
    
    .teacher_carousel .react-multiple-carousel__arrow--left::before {
        content: none !important;
    }
    
    .teacher_carousel .react-multiple-carousel__arrow--right {
        background-size: 80% !important;
        margin-top: -30%;
        margin-right: -10%;
    }

    .teacher_carousel .react-multiple-carousel__arrow--left {
        background-size: 80% !important;
        margin-top: -30%;
    }
}