@keyframes pinkStoneRising {
    from {
        top: 20%;
        opacity: 0;
    }
}

.teachers-container {
    padding-block: 80px;
    background-color: var(--white);
}

.teacher-row-1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.teacher-row-1 .animated {
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    gap: 10px;
}

.teacher-row-1 .animated img {
    width: 45px;
    opacity: 0.2;
    position: absolute;
    margin-top: -28.9%;
}

.teacher-row-1 .animated h1 {
    font-size: var(--h3);
    font-family: var(--ff-secondary);
    color: var(--pink);
    font-weight: 500;
    letter-spacing: 1px;
}

.teacher-row-1 .animated h1::after {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/stars.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
    left: 20%;
    margin-top: -8%;
    transform: rotate(-70deg);
}

.teacher-row-1 .animated h2 {
    width: 75%;
    font-size: var(--h1);
}

.teacher-row-1 .animated p {
    width: 68%;
    font-size: var(--h4);
    color: var(--grey);
    line-height: 25px;
}

.teacher-row-1::before {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/people_gossiping.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    left: 20%;
    margin-top: 5%;
    opacity: 0.1;
    transform: rotate(-18deg)
}


.teacher-carousel-outer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.teacher_carousel {
    width: 78%;
    position: unset !important;
}

.teacher_carousel ul {
    justify-content: center !important;
    gap: 90px;
}

.teacher_item {
    width: 265px !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-block: 40px;
}

.teacher_item img {
    width: 100%;
    mask-image: url('../../../../public/assets/teacher.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    cursor: pointer;
}

.teacher_item:hover::before {
    position: absolute;
    content: "";
    mask-image: url('../../../../public/assets/teacher-backyard.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--pink);
    width: 270px;
    height: 270px;
    z-index: -1;
    transform: scaleX(-1) scaleY(-1) rotate(5deg);
    transform-origin: center;
    top: 4%;
    transition: 0.4s;
    opacity: 1;
    animation: pinkStoneRising 1s;
}

.teacher_item:hover::after {
    position: absolute;
    content: "";
    mask-image: url('../../../../public/assets/teacher-backyard.svg');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--pink);
    width: 270px;
    height: 270px;
    z-index: -1;
    transform: scaleX(-1) scaleY(-1) rotate(5deg);
    transform-origin: center;
    top: 43%;
    transition: 0.4s;
    opacity: 0.03;
    animation: pinkStoneRising 1s;
}

.teacher_item h1 a {
    font-size: var(--h2);
    background-color: transparent;
    color: var(--blue-light);
    text-decoration: none;
}

.teacher_item:hover h1 a {
    color: var(--pink);
    transition: 0.4s;
}

.teacher_item p {
    font-size: var(--h4);
    color: var(--grey);
}

.teacher_item span {
    display: flex;
    gap: 10px;
    align-items: center;
}

.teacher_item a {
    padding-block: 5px;
    padding-inline: 10px;
    background-color: var(--pink);
    color: var(--white);
    border-radius: 55% 45% 62% 38% / 42% 40% 60% 58%;
}

.teacher_item a:hover {
    border-radius: 38% 62% 45% 55% / 58% 60% 40% 42%;
    transition: 0.8s;
}

.react-multiple-carousel__arrow {
    min-width: 120px !important;
    min-height: 40px !important;
}

.teacher_carousel .react-multiple-carousel__arrow--left {
    background-image: url('../../../../public/assets/spider-left.svg') !important;
    background-repeat: no-repeat !important;
    background-size: 90% !important;
    background-color: transparent;
    transform-origin: center;
    animation: 3s ease-in-out 0s infinite alternate both rockshake;
    position: absolute;
    left: 6%;
    top: 35%;
}

.teacher_carousel .react-multiple-carousel__arrow--left:hover {
    background-color: transparent;
}

.teacher_carousel .react-multiple-carousel__arrow--left::before {
    content: none !important;
}

.teacher_carousel .react-multiple-carousel__arrow--right {
    background-image: url('../../../../public/assets/spider-right.svg') !important;
    background-repeat: no-repeat !important;
    background-size: 90% !important;
    background-position: right;
    background-color: transparent;
    transform-origin: center;
    animation: 3s ease-in-out 0s infinite alternate both rockshake;
    position: absolute;
    right: 6%;
    top: 35%;
}

.teacher_carousel .react-multiple-carousel__arrow--right:hover {
    background-color: transparent;
}

.teacher_carousel .react-multiple-carousel__arrow--right::before {
    content: none !important;
}

.people_gossiping_img {
    width: 120px;
    opacity: 0.1;
    transform: rotate(-15deg);
}

@media screen and (max-width: 1024px) {
    .teachers-container {
        padding-block: 100px;
    }
    
    .teacher-row-1 .animated {
        width: 100%;
    }
    
    .teacher-row-1 .animated h1::after {
        width: 80px;
        height: 80px;
        left: 24%;
        margin-top: -5%;
        transform: rotate(-70deg);
    }
    
    .teacher-row-1 .animated img {
        margin-top: -20.9%;
    }

    .teacher-row-1 .animated h2 {
        width: 75%;
    }
    
    .teacher-row-1 .animated p {
        width: 45%;
    }
    
    .teacher-row-1::before {
        display: none;
    }

    .teacher_carousel ul {
        gap: 80px;
    }
    
    .teacher_item {
        width: 320px !important;
    }
    
    .teacher_carousel .react-multiple-carousel__arrow--left {
        background-size: 85% !important;
        left: 30%;
        margin-top: 36%;
    }
    
    .teacher_carousel .react-multiple-carousel__arrow--right {
        background-size: 85% !important;
        right: 30%;
        margin-top: 36%;
    }
}

@media screen and (max-width: 992px) {
    .teachers-container {
        padding-block: 100px;
    }
    
    .teacher-row-1 .animated h1::after {
        left: 15%;
        margin-top: -5%;
    }
    
    .teacher-row-1 .animated img {
        margin-top: -25%;
    }
    
    .teacher-row-1 .animated p {
        width: 60%;
    }

    .teacher_carousel {
        width: 90%;
    }

    .teacher_carousel ul {
        gap: 70px;
    }

    .teacher_item {
        width: 300px !important;
    }
    
    .teacher_carousel .react-multiple-carousel__arrow--left {
        margin-top: 45%;
    }
    
    .teacher_carousel .react-multiple-carousel__arrow--right {
        margin-top: 45%;
    }
}

@media screen and (max-width: 768px) {
    .teacher-row-1 .animated h1::after {
        left: 15%;
        margin-top: -5%;
    }
    
    .teacher-row-1 .animated img {
        margin-top: -25%;
    }
    
    .teacher-row-1 .animated p {
        width: 60%;
    }

    .teacher_carousel {
        width: 90%;
    }

    .teacher_carousel ul {
        gap: 70px;
    }

    .teacher_item {
        width: 280px !important;
    }
    
    .teacher_carousel .react-multiple-carousel__arrow--left {
        left: 30%;
        margin-top: 45%;
    }
    
    .teacher_carousel .react-multiple-carousel__arrow--right {
        right: 30%;
        margin-top: 45%;
    }
}

@media screen and (max-width: 440px) {
    .teacher-row-1 .animated h1::after {
        display: none;
    }
    
    .teacher-row-1 .animated img {
        margin-top: -65%;
    }
    
    .teacher-row-1 .animated h2 {
        font-size: calc(var(--h1) - 4px);
    }

    .teacher-row-1 .animated p {
        width: 75%;
    }

    .teacher_carousel {
        width: 90%;
    }

    .teacher_carousel ul {
        gap: 70px;
    }

    .teacher_item {
        width: 280px !important;
    }
    
    .teacher_carousel .react-multiple-carousel__arrow--left {
        left: 15%;
        margin-top: 93%;
        background-size: 60% !important;
    }
    
    .teacher_carousel .react-multiple-carousel__arrow--right {
        right: 22%;
        margin-top: 90%;
        background-size: 60% !important;
    }
}