.button a {
    padding: 0.9em 2em;
    font-size: calc(var(--h4) + 2px);
    background-color: var(--pink);
    color: var(--white);
    border: 0px;
    border-radius: 30px;
    text-decoration: none;
}

.button a:hover {
    background-color: var(--white);
    color: var(--blue-light);
}

.button.small a {
    padding: 0.5em 2em;
    font-size: calc(var(--h4) + 2px);
    background-color: var(--pink);
    color: var(--white);
    border: 0px;
    border-radius: 30px;
    text-decoration: none;
}

.button.big_long a {
    padding: 1em 3.5em;
}

@media screen and (max-width: 440px) {
    .button.big_long a {
        padding: 0.8em 2.7em;
        font-size: calc(var(--h4) - 2px);
    }
}