@keyframes floatPlanet {
    0% {
        transform: rotate(330deg) translateY(-10px);
    }
    25% {
        transform: rotate(330deg) translateY(0px);
    }
    50% {
        transform: rotate(330deg) translateY(10px);
    }
    75% {
        transform: rotate(330deg) translateY(0px);
    }
    100% {
        transform: rotate(330deg) translateY(-10px);
    }
}

@keyframes rocketLaunching {
    0% {
        transform: rotate(40deg) translate(0px, -20px);
    }
    25% {
        transform: rotate(40deg) translate(0px, 0px);
    }
    50% {
        transform: rotate(40deg) translate(0px, 20px);
    }
    75% {
        transform: rotate(40deg) translate(0px, 0px);
    }
    100% {
        transform: rotate(40deg) translate(0px, -20px);
    }
}

@keyframes underline_go_brruh {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 180px;
    }
}

.program-row-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    gap: 10px;
}

.program-row-1 .animated {
    width: 65%;
    text-align: center;
}

.program-row-1-col-2 {
    width: 54%;
}

.program-row-1-col-2 .animated {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.program-row-1-col-2.wide .animated {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.program-row-1-col-2 .animated img {
    width: 70px;
    opacity: 0.2;
}

.program-row-1-col-2 .animated h1 {
    font-size: var(--h3);
    font-family: var(--ff-secondary);
    color: var(--pink);
    font-weight: 500;
    letter-spacing: 1px;
}

.program-row-1-col-2 .animated h2 {
    width: 75%;
    font-size: var(--h1);
}

.program-row-1-col-2 .animated p {
    width: 68%;
    font-size: var(--h4);
    color: var(--grey);
    line-height: 25px;
}

.program-row-1-col-3 {
    width: 20%;
}

.planet_1 {
    width: 100%;
    animation: floatPlanet infinite 8s;
    margin-left: 35%;
}

.abc_img, .pen_img {
    width: 70%;
}

.abc_img {
    transform: scale(1.4) rotate(330deg);
    opacity: 0.1;
    position: absolute;
    margin-left: -55%;
    margin-top: -20%;
}

.pen_img {
    position: absolute;
    transform: scale(1.3);
    margin-left: 5%;
    margin-top: -57%;
    opacity: 1;
}

.program-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 50px;
    padding-block: 70px;
    background-color: var(--gold-lighter);
}

.program-row-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-block: 50px;
}

.program-row-2::after {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/drawn-rocket.svg');
    background-position: center;
    background-size: 120px;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    right: 5%;
    margin-top: 32%;
    animation: rocketLaunching infinite linear 3s;
}

.program-row-2 .animated {
    width: 40%;
}

.program-card {
    width: 100%;
    display: flex;
    gap: 10px;
    background-color: var(--white);
    border-radius: 40px;
    padding-inline: 20px;
    padding-block: 60px;
    transition: 0.8s;
}

.program-card::after {
    position: absolute;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
    bottom: 10px;
    right: 20px;
    display: none;
}

.program-card:hover::after {
    display: block;
    animation: bounceInUpRelax 1s;
}

.program-card:hover {
    background-color: var(--pink);
}

.program-card:hover > div > * {
    color: var(--white);
}

.program-card img {
    width: 40%;
    height: 150px;
    mask-image: url('../../../../public/assets/heart.svg');
    -webkit-mask-size: 100% auto;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100% auto;
    mask-position: center center;
    mask-repeat: no-repeat;
}

.program-card-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.program-card-text h1 {
    font-size: var(--h2);
    color: var(--blue);
}

.program-card-text p {
    font-size: var(--h4);
    color: var(--grey);
}

.program-card-text a {
    font-weight: var(--fw);
    color: var(--black);
    text-decoration: none;
}

.program-card-text a::after {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/underline.svg');
    background-position: center;
    background-repeat: repeat-x;
    background-size: 27px;
    width: 16%;
    height: 10px;
    bottom: 32%;
    left: 43%;
}

.program-card-text a:hover::after {
    animation: underline_go_brruh infinite 7s;
}

.program-row-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .planet_1 {
        display: none;
    }
    
    .abc_img, .pen_img {
        display: none;
    }
    
    .rocket-outer {
        display: none;
    }
    
    .program-row-2 .animated {
        width: 70%;
    }
    
    .program-card {
        gap: 40px;
        padding-left: 40px;
    }
    
    .program-card img {
        width: 35%;
        height: 200px;
    }
    
    .program-card-text h1 {
        font-size: var(--h2);
        color: var(--blue);
    }

}

@media screen and (max-width: 992px) {
    .program-container {
        padding-inline: 30px;
    }

    .program-card img {
        width: 80%;
        height: 150px;
    }
    
    .program-row-2 .animated {
        width: 80%;
    }
}

@media screen and (max-width: 440px) {
    .program-container {
        padding-inline: 30px;
    }
    
    .program-row-2 .animated {
        width: 90%;
    }

    .program-card {
        flex-direction: column;
    }

    .program-card-text {
        text-align: center;
    }
}