.alarm-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--red);
    color: var(--white);
    padding-block: 8px;
}

.alarm {
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: var(--h4);
}

.social-alarm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.contact-alarm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.contact-alarm a, .social-alarm a {
    text-decoration: none;
    color: var(--white);
    transition: 0.5s;
}

.contact-alarm a:hover, .social-alarm a:hover {
    color: var(--gold);
}

.phone {
    display: flex;
    gap: 8.4px;
    align-items: center;
}

.email {
    display: flex;
    gap: 10px;
    align-items: center;
}

.phone img {
    width: 16px;
}

.email img {
    width: 20px;
}

.social-alarm span {
    display: flex;
    gap: 8px;
}

.social-alarm span i {
    background-color: var(--white);
    color: var(--red);
    padding-block: 5.9px;
    padding-inline: 9px;
    border-radius: 100%;
    cursor: pointer;
}

.social-alarm span i:hover {
    opacity: 0.8;
    transform: scale(0.95);
    transition: 0.4s;
}

.social-alarm p {
    font-size: calc(var(--h4) + 0.5px);
    letter-spacing: 0.8px;
}

@media screen and (max-width: 992px) {
    .alarm-container {
        padding-inline: 50px;
    }
}

@media screen and (max-width: 440px) {
    .alarm-container {
        display: none;
    }
}