@keyframes rotate_wheel {
    0% {
        transform: rotate(45deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.intedu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 40px;
    background-color: var(--white);
}

.intedu-row-1 {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    gap: 10px;
}

.intedu-row-1-col-1 {
    display: flex;
    justify-content: end;
}

.intedu-row-1-col-2 {
    width: 80%;
}

.intedu-row-1-col-2 .animated {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.intedu-row-1-col-2 .animated img {
    width: 45px;
    opacity: 0.2;
    position: absolute;
    margin-top: -5.5%;
    margin-left: 4%;
}

.intedu-row-1-col-2 .animated h1 {
    font-size: var(--h3);
    font-family: var(--ff-secondary);
    color: var(--pink);
    font-weight: 500;
    letter-spacing: 1px;
}

.intedu-row-1-col-2 .animated h2 {
    width: 100%;
    font-size: var(--h1);
}

.intedu-row-1-col-2 .animated p {
    width: 73%;
    font-size: var(--h4);
    color: var(--grey);
    line-height: 25px;
    padding-block: 10px;
}

.intedu-row-1-col-3 {
    display: flex;
    justify-content: start;
    align-items: center;
}

.intedu-row-1-col-3 .animated img {
    width: 60%;
}

.sketch_rocket_img {
    width: 90%;
}


.rotating_img {
    width: 200px;
    animation: rotate_wheel infinite linear 9s;
}

.house_img {
    width: 110px;
    opacity: 0.3;
    transform: rotate(330deg);
    position: absolute;
    margin-top: 30px;
    margin-left: -150px;
}

@keyframes openGoldenWindow {
    from {
        width: 100%;
        height: 100%;
    }
}

@keyframes openGoldenWindowOnNormal {
    0% {
        width: 95%;
        height: 93%;
        opacity: 1;
    }

    100% {
        width: 98%;
        height: 98%;
        opacity: 0;
    }
}

@keyframes openEyeWindow {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes openEyeWindowOnNormal {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.5);
        opacity: 0;
    }
}

.flex-container {
    width: 95%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.flex-row-1-col-1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 45%;
}

.flex-row-1-col-1::before {
    position: absolute;
    content: "";
    background-color: var(--gold);
    opacity: 0.55;
    transition: 0.3s all cubic-bezier(0.41, 0.01, 0.35);
    animation: openGoldenWindowOnNormal linear 0.2s;
    border-radius: 30px;
}

.flex-row-1-col-1::after {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/eyes.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    opacity: 1;
    transform: scale(1);
    transition: 0.3s all cubic-bezier(0.41, 0.01, 0.35);
    animation: openEyeWindowOnNormal linear 0.2s;
    cursor: pointer;
}

.flex-row-1-col-1:hover::before {
    position: absolute;
    content: "";
    background-color: var(--gold);
    opacity: 0.55;
    width: 95%;
    height: 93%;
    transition: 0.3s all cubic-bezier(0.41, 0.01, 0.35);
    animation: openGoldenWindow linear 0.2s;
    border-radius: 30px;
}

.flex-row-1-col-1:hover::after {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/eyes.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    opacity: 1;
    width: 100px;
    height: 100px;
    transform: scale(1);
    transition: 0.3s all cubic-bezier(0.41, 0.01, 0.35);
    animation: openEyeWindow linear 0.2s;
    cursor: pointer;
}

.flex-row-1-col-1 .inner img {
    width: 100%;
    border-radius: 30px;
}

.flex-row-1-col-1:hover img {
    box-shadow: 0 0 0 5px var(--gold)
}

.flex-row-1-col-2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flex-row-1-col-2-part-1 {
    display: flex;
    gap: 20px;
}

.flex-row-1-col-2-part-1 .inner {
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

.flex-row-1-col-2-part-1 .inner img {
    width: 100%;
    border-radius: 30px;
}

.flex-row-1-col-2-part-1 .inner:first-child:hover img {
    box-shadow: 0 0 0 5px var(--gold);
}

.flex-row-1-col-2-part-1 .inner:last-child:hover img {
    box-shadow: 0 0 0 5px var(--gold);
}

.flex-row-1-col-2-part-2 .inner {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row-1-col-2-part-1 .inner::before {
    position: absolute;
    content: "";
    background-color: var(--gold);
    opacity: 0.55;
    transition: 0.3s all cubic-bezier(0.41, 0.01, 0.35);
    animation: openGoldenWindowOnNormal linear 0.2s;
    border-radius: 30px;
}

.flex-row-1-col-2-part-1 .inner::after {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/eyes.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    opacity: 1;
    width: 0px;
    height: 0px;
    transform: scale(1);
    transition: 0.3s all cubic-bezier(0.41, 0.01, 0.35);
    animation: openEyeWindowOnNormal linear 0.2s;
    cursor: pointer;
}

.flex-row-1-col-2-part-1 .inner:hover::before {
    position: absolute;
    content: "";
    background-color: var(--gold);
    opacity: 0.55;
    width: 95%;
    height: 93%;
    transition: 0.3s all cubic-bezier(0.41, 0.01, 0.35);
    animation: openGoldenWindow linear 0.2s;
    border-radius: 30px;
}

.flex-row-1-col-2-part-1 .inner:hover::after {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/eyes.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    opacity: 1;
    width: 100px;
    height: 100px;
    transform: scale(1);
    transition: 0.3s all cubic-bezier(0.41, 0.01, 0.35);
    animation: openEyeWindow linear 0.2s;
    cursor: pointer;
}

.flex-row-1-col-2-part-2 .inner img {
    width: 100%;
    border-radius: 30px;
}

.flex-row-1-col-2-part-2:hover .inner img {
    box-shadow: 0 0 0 5px var(--gold);
}

.flex-row-1-col-2-part-2 .inner::before {
    position: absolute;
    content: "";
    background-color: var(--gold);
    opacity: 0.55;
    transition: 0.3s all cubic-bezier(0.41, 0.01, 0.35);
    animation: openGoldenWindowOnNormal linear 0.2s;
    border-radius: 30px;
}

.flex-row-1-col-2-part-2 .inner::after {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/eyes.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    opacity: 1;
    width: 0px;
    height: 0px;
    transform: scale(1);
    transition: 0.3s all cubic-bezier(0.41, 0.01, 0.35);
    animation: openEyeWindowOnNormal linear 0.2s;
    cursor: pointer;
}

.flex-row-1-col-2-part-2 .inner:hover::before {
    position: absolute;
    content: "";
    background-color: var(--gold);
    opacity: 0.55;
    width: 95%;
    height: 93%;
    transition: 0.3s all cubic-bezier(0.41, 0.01, 0.35);
    animation: openGoldenWindow linear 0.2s;
    border-radius: 30px;
}

.flex-row-1-col-2-part-2 .inner:hover::after {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/eyes.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    opacity: 1;
    width: 100px;
    height: 100px;
    transform: scale(1);
    transition: 0.3s all cubic-bezier(0.41, 0.01, 0.35);
    animation: openEyeWindow linear 0.2s;
    cursor: pointer;
}

.flex-row-1-col-3 {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex-row-1-col-3-part-1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex-row-1-col-3-part-1 .inner img {
    width: 100%;
    border-radius: 30px;
}

.flex-row-1-col-3-part-1:hover .inner img {
    box-shadow: 0 0 0 5px var(--gold);
}

.flex-row-1-col-3-part-1::before {
    position: absolute;
    content: "";
    background-color: var(--gold);
    opacity: 0.55;
    transition: 0.3s all cubic-bezier(0.41, 0.01, 0.35);
    animation: openGoldenWindowOnNormal linear 0.2s;
    border-radius: 30px;
}

.flex-row-1-col-3-part-1::after {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/eyes.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    opacity: 1;
    width: 0px;
    height: 0px;
    transform: scale(1);
    transition: 0.3s all cubic-bezier(0.41, 0.01, 0.35);
    animation: openEyeWindowOnNormal linear 0.2s;
    cursor: pointer;
}

.flex-row-1-col-3-part-1:hover::before {
    position: absolute;
    content: "";
    background-color: var(--gold);
    opacity: 0.55;
    width: 95%;
    height: 93%;
    transition: 0.3s all cubic-bezier(0.41, 0.01, 0.35);
    animation: openGoldenWindow linear 0.2s;
    border-radius: 30px;
}

.flex-row-1-col-3-part-1:hover:after {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/eyes.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    opacity: 1;
    width: 100px;
    height: 100px;
    transform: scale(1);
    transition: 0.3s all cubic-bezier(0.41, 0.01, 0.35);
    animation: openEyeWindow linear 0.2s;
    cursor: pointer;
}

.flex-row-1-col-3-part-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex-row-1-col-3-part-2 .inner img {
    width: 100%;
    border-radius: 30px;
}

.flex-row-1-col-3-part-2:hover .inner img {
    box-shadow: 0 0 0 5px var(--gold);
}

.flex-row-1-col-3-part-2:hover::before {
    position: absolute;
    content: "";
    background-color: var(--gold);
    opacity: 0.55;
    width: 95%;
    height: 93%;
    transition: 0.3s all cubic-bezier(0.41, 0.01, 0.35);
    animation: openGoldenWindow linear 0.2s;
    border-radius: 30px;
}

.flex-row-1-col-3-part-2::before {
    position: absolute;
    content: "";
    background-color: var(--gold);
    opacity: 0.55;
    transition: 0.3s all cubic-bezier(0.41, 0.01, 0.35);
    animation: openGoldenWindowOnNormal linear 0.2s;
    border-radius: 30px;
}

.flex-row-1-col-3-part-2::after {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/eyes.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    opacity: 1;
    width: 0px;
    height: 0px;
    transform: scale(1);
    transition: 0.3s all cubic-bezier(0.41, 0.01, 0.35);
    animation: openEyeWindowOnNormal linear 0.2s;
    cursor: pointer;
}

.flex-row-1-col-3-part-2:hover::after {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/eyes.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    opacity: 1;
    width: 100px;
    height: 100px;
    transform: scale(1);
    transition: 0.3s all cubic-bezier(0.41, 0.01, 0.35);
    animation: openEyeWindow linear 0.2s;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .intedu-row-1-col-1 {
        display: none;
    }

    .intedu-row-1-col-2 .animated img {
        margin-top: -6.5%;
        margin-left: 0%;
    }

    .intedu-row-1-col-2 .animated p {
        line-height: 25px;
    }

    .intedu-row-1-col-3 {
        display: none;
    }

    .flex-container {
        flex-direction: column;
        align-items: center;
        padding-block: 40px;
    }

    .flex-row-1-col-1 {
        width: 83%;
    }

    .flex-row-1-col-2 {
        width: 83%;
    }

    .flex-row-1-col-2-part-1 .inner {
        width: 50%;
    }

    .flex-row-1-col-3 {
        width: 90%;
    }

    .flex-row-1-col-3-part-1 {
        width: 100%;
    }

    .flex-row-1-col-3-part-1 .inner {
        width: 90%;
    }

    .flex-row-1-col-3-part-2 {
        width: 100%;
    }

    .flex-row-1-col-3-part-2 .inner {
        width: 90%;
    }
}

@media screen and (max-width: 992px) {
    .flex-row-1-col-1 {
        width: 100%;
    }

    .flex-row-1-col-2 {
        width: 100%;
    }

    .flex-row-1-col-3 {
        width: 100%;
    }

    .flex-row-1-col-2-part-1 .inner {
        width: 50%;
    }

    .flex-row-1-col-3-part-1 .inner {
        width: 100%;
    }

    .flex-row-1-col-3-part-2 .inner {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .intedu-container {
        padding-block: 0px;
    }

    .intedu-row-1 {
        width: 85%;
    }
}

@media screen and (max-width: 440px) {
    .intedu-row-1-col-2 .animated img {
        margin-top: -13.5%;
    }

    .intedu-row-1 {
        width: 100%;
    }

    .intedu-row-1-col-2 .animated p {
        width: 100%;
    }

    .flex-container {
        width: 90%;
    }

    .flex-row-1-col-2-part-1 {
        flex-direction: column;
    }

    .flex-row-1-col-2-part-1 .inner {
        width: 100%;
    }
}