@keyframes candleRising {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes openMobileMenu {
    0% {
        transform: translateX(300px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes closeMobileMenu {
    0% {
        transform: translateX(0px);
        visibility: visible;
    }

    100% {
        transform: translateX(300px);
        visibility: hidden;
    }
}

.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--white);
    z-index: 1;
    transition: top 0.4s;
    box-shadow: 10px 11px 80px -50px rgba(0, 0, 0, 0.62);
}

.header {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 11px;
}

.header-logo {
    width: 9%;
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 100%;
}

.header-menu ul {
    display: flex;
    gap: 18px;
    list-style: none;
}

.header-menu-anchor {
    position: relative;
}

.header-menu-anchor a {
    display: inline-flex;
    align-items: center;
    color: inherit;
}

.header-menu-anchor a span {
    display: inline-block;
    padding-left: 24px;
}

.header-menu-anchor.selected a {
    color: var(--gold);
    transition: 0.5s ease;
}

.header-menu-anchor.selected a::before {
    content: "";
    position: absolute;
    left: 0;
    background-image: url('../../../../public/assets/canyon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.header-menu-anchor a {
    color: var(--gold);
    transition: 0.5s ease;
}

.header-menu-anchor:hover a::before {
    content: "";
    position: absolute;
    left: 0;
    background-image: url('../../../../public/assets/canyon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    animation: candleRising 0.5s ease;

}

.header-menu li img.show {
    display: inline-flex;
}

.header-menu li img {
    width: 20px;
    display: none;
}

.header-menu li>*:hover {
    color: var(--gold);
}

.header-menu li a {
    text-decoration: none;
    color: var(--black);
    font-size: calc(var(--h4) + 2px);
    font-weight: var(--fw);
}

.header-end {
    display: flex;
    align-items: center;
    gap: 40px;
}

.fa-bars {
    display: none;
}

.header-end a {
    font-size: calc(var(--h4) + 5px);
    text-decoration: none;
    color: var(--black);
}

.header-end a svg:hover {
    color: var(--gold);
}

.header-end i span {
    padding-inline: 10px;
}

.mobile-menu {
    width: 20%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    animation: openMobileMenu 0.4s;
    visibility: visible;
}

.mobile-menu.hidden {
    visibility: hidden;
    animation: closeMobileMenu 0.4s;
}

.mobile-menu~.home {
    filter: brightness(0.5);
}

.mobile-menu.hidden~.home {
    filter: brightness(1);
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.mobile-menu ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid rgb(231, 231, 231);
    border-bottom: 1px solid rgb(231, 231, 231);
}

.mobile-menu ul li a {
    font-size: var(--h4);
    color: var(--black);
    text-decoration: none;
}

.close {
    display: flex;
    justify-content: end;
    padding: 20px;
}

.mobile-menu ul li.selected {
    background-color: var(--pink);
}

.mobile-menu ul li.selected a,
.mobile-menu ul li.selected i {
    color: var(--white);
}

@media screen and (max-width: 1280px) {

    .header-menu,
    .fa-bars span {
        display: none;
    }

    .fa-bars {
        display: block;
    }

    .header {
        padding-block: 0px;
    }

    .header-logo {
        width: 11.5%;
    }
}

@media screen and (max-width: 992px) {
    .header-container {
        width: 100%;
    }

    .header {
        justify-content: space-between;
    }

    .header-logo {
        width: 15%;
    }
}

@media screen and (max-width: 440px) {
    .header-logo {
        width: 24%;
    }

    .header {
        justify-content: space-around;
        padding-block: 0px;
    }

    .header-end i span {
        display: none;
    }

    .mobile-menu {
        width: 70%;
        position: absolute;
        z-index: 2;
    }
}