.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 11px;
}

.header-logo {
    width: 9%;
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 100%;
}

.header-menu ul {
    display: flex;
    gap: 18px;
    list-style: none;
}

.header-menu-anchor {
    position: relative;
}

.header-menu-anchor a {
    display: inline-flex;
    align-items: center;
    color: inherit;
}

.header-menu-anchor a span {
    display: inline-block;
    padding-left: 24px;
}

.header-menu-anchor.selected a {
    color: var(--gold);
}

.header-menu-anchor.selected a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%; 
    transform: translateY(-50%);
    background-image: url('../../../../public/assets/canyon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px;
}

.header-menu-anchor:hover a {
    color: var(--gold);
}

@keyframes candleRising {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.header-menu-anchor:hover a::before {
    content: "";
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../../../../public/assets/canyon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    animation: candleRising 0.3s linear;
}







.header-menu li img.show {
    display: inline-flex;
}

.header-menu li img {
    width: 20px;
    display: none;
}

.header-menu li > *:hover {
    color: var(--gold);
}

.header-menu li a {
    text-decoration: none;
    color: var(--black);
    font-size: calc(var(--h4) + 2px);
    font-weight: var(--fw);
}

.header-end {
    display: flex;
    align-items: center;
    gap: 40px;
}

.fa-bars {
    display: none;
}

.header-end a {
    font-size: calc(var(--h4) + 5px);
    text-decoration: none;
    color: var(--black);
}

.header-end a svg:hover {
    color: var(--gold);
}

.header-end i span {
    padding-inline: 10px;
}

@keyframes openMobileMenu {
    0% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes closeMobileMenu {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(300px);
    }
}

.mobile-menu {
    width: 20%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    background-color: var(--white);
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    animation: openMobileMenu 0.4s;
    display: none;

}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.mobile-menu ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid rgb(231, 231, 231);
    border-bottom: 1px solid rgb(231, 231, 231);   
}

.mobile-menu ul li a {
    font-size: var(--h4);
    color: var(--black);
    text-decoration: none;
}

.close {
    display: flex;
    justify-content: end;
    padding: 20px;
}

/* .mobile-menu:active:has(> .close) {
    border: 1px solid red;
    animation: closeMobileMenu 0.4s;
} */

.mobile-menu ul li.selected {
    background-color: var(--pink);
}

.mobile-menu ul li.selected a, .mobile-menu ul li.selected i {
    color: var(--white);
}

@media screen and (max-width: 1280px) {
    .header-menu {
        display: none;
    }

    .fa-bars {
        display: block;
    }
}