@keyframes shadow_dancing {
    0% {
        transform: translate(20px, 0px);
    }

    50% {
        transform: translate(20px, -20px);
    }

    100% {
        transform: translate(-10px, 0px);
    }
}

@keyframes rockUpDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-block: 50px;
    padding-inline: 140px;
    background-color: transparent;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-image: linear-gradient(var(--white), var(--gold-lighter));
}

.about-row-2 {
    display: flex;
    justify-content: end;
    padding-inline: 120px;
}

.about-image {
    display: flex;
    flex-direction: column;
    height: auto;
}

.starMourning {
    width: 100px;
}

.about-image img.mask {
    position: absolute;
    width: 30%;
    margin-top: 6%;
    animation: shadow_dancing infinite 15s;
}

.baby_img {
    width: 450px;
    mask: url('../../../../public/assets/image_mask.png');
    mask-size: contain;
    mask-position: bottom center;
    mask-repeat: repeat-x;
}

.about-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-row-2-text {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.about-row-2-text img {
    width: 13%;
    opacity: 0.3;
    margin-left: -6%;
}

.about-row-2-text label {
    font-size: calc(var(--h4) + 2px);
    font-family: var(--ff-secondary);
    font-weight: calc(var(--fw) - 200);
    color: var(--pink);
}

.about-row-2-text h2 {
    font-size: var(--h1);
}

.about-row-2-text p {
    font-size: var(--h4);
    color: var(--grey);
}

.about-row-2-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-row-2-image img.child {
    width: 250px;
}

.about-row-2-image img.rocket {
    width: 150px;
    animation: rockUpDown infinite 4s;
}

.about-row-2-image img.curl {
    width: 100px;
    transform: rotate(-25deg);
}

.line {
    width: 50%;
}

@media screen and (max-width: 1024px) {
    .about-container {
        flex-direction: column;
    }

    .about {
        flex-direction: column;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-row-2-text {
        width: 70%;
        align-items: center;
        text-align: center;
    }

    .about-row-2-image {
        display: none;
    }

    .about-row-2 {
        justify-content: center;
    }
}

@media screen and (max-width: 440px) {
    .about {
        padding-inline: 15px;
    }

    .about-row-2-text {
        width: 100%;
    }
}