@keyframes shadow_dancing {
    0% {
        transform: translate(20px, 0px);
    }

    50% {
        transform: translate(20px, -20px);
    }

    100% {
        transform: translate(-10px, 0px);
    }
}

@keyframes rockUpDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.about {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: transparent;
}

.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-image: linear-gradient(var(--white), var(--gold-lighter));
}

.about-row-2 {
    display: flex;
    justify-content: end;
}

.about-image {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 0px;
}

.starMourning {
    width: 100px;
}

.about-image img.mask {
    position: absolute;
    width: 80%;
    margin-top: -1%;
    animation: shadow_dancing infinite 15s;
}

.about-image::before {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/star.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    margin-top: -13%;
}

.baby_img {
    width: 450px;
    mask: url('../../../../public/assets/image_mask.png');
    mask-size: contain;
    mask-position: bottom center;
    mask-repeat: repeat-x;
}

.about-text {
    display: flex;
    align-items: end;
    gap: 10px;
}

.about-row-2-text {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}

.about-row-2-text label::before {
    content: "";
    position: absolute;
    background-image: url('../../../../public/assets/cap.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    margin-top: -2.8%;
    margin-left: -0.8%;
    transform: scale(1.5);
}

.about-row-2-text label {
    font-size: calc(var(--h4) + 2px);
    font-family: var(--ff-secondary);
    font-weight: calc(var(--fw) - 200);
    color: var(--pink);
}

.about-row-2-text h2 {
    font-size: var(--h1);
}

.about-row-2-text p {
    padding-block: 10px;
    padding-bottom: 25px;
    font-size: var(--h4);
    color: var(--grey);
    line-height: 26px;
}

.about-row-2-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-row-2-image img.child {
    width: 250px;
}

.about-row-2-image img.rocket {
    width: 150px;
    animation: rockUpDown infinite 4s;
}

.about-row-2-image img.curl {
    width: 75px;
    transform: rotate(-25deg);
}

.line {
    width: 65%;
    transform: scaleY(-1);
}

@media screen and (max-width: 1024px) {
    .about-container {
        flex-direction: column;
    }

    .about {
        flex-direction: column;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-row-2-text {
        width: 70%;
        align-items: center;
        text-align: center;
    }

    .about-row-2-text img {
            width: 8%;
            margin-left: 0%;
    }

    .about-row-2-image {
        display: none;
    }

    .about-row-2 {
        justify-content: center;
    }

    .about-row-2 .line {
        width: 80%;
    }
}

@media screen and (max-width: 440px) {
    .about {
        padding-inline: 15px;
    }

    .about-row-2-text {
        width: 100%;
    }
}