.garden img {
    width: 100%;
}

.garden img:nth-child(2), .garden img:nth-child(3) {
    display: none;
}

@media screen and (max-width: 1024px) {
    .garden img:nth-child(1) {
        display: none;
    }
    
    .garden img:nth-child(2) {
        display: block;
    }
}

@media screen and (max-width: 440px) {
    .garden img:nth-child(2) {
        display: none;
    }
    
    .garden img:nth-child(3) {
        display: block;
    }
}