.activity_program_carousel {
    padding-block: 55px;
}

.activity_program_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.activity_program_item img.small {
    width: 70px;
    position: absolute;
    margin-top: -55px;
    z-index: -1;
}

.activity_program_item img.profile {
    width: 60%;
    box-shadow: 0px 16px 25.92px 1.08px var(--grey-lighter);
    transition: all 0.3s ease-out;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
}

img.rainbow_img {
    margin-top: -8%;
    margin-left: -8%;
    width: 15%;
    position: absolute;
}

.activity_program_item h1 {
    font-size: var(--h2);
}

.activity_program_item p {
    font-size: var(--h4);
    color: var(--grey);
    text-align: center;
    padding-inline: 40px;
}

.react-multiple-carousel__arrow {
    min-width: 170px !important;
    min-height: 70px !important;
}

.activity_program_carousel .react-multiple-carousel__arrow--left {
    background-image: url('../../../../public/assets/spider-left.svg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-color: transparent;
    transform-origin: center;
    animation: 3s ease-in-out 0s infinite alternate both rockshake;
}

.activity_program_carousel .react-multiple-carousel__arrow--left:hover {
    background-color: transparent;
}

.activity_program_carousel .react-multiple-carousel__arrow--left::before {
    content: none !important;
}

.activity_program_carousel .react-multiple-carousel__arrow--right {
    background-image: url('../../../../public/assets/spider-right.svg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-color: transparent;
    transform-origin: center;
    animation: 3s ease-in-out 0s infinite alternate both rockshake;
}

.activity_program_carousel .react-multiple-carousel__arrow--right:hover {
    background-color: transparent;
}

.activity_program_carousel .react-multiple-carousel__arrow--right::before {
    content: none !important;
}

@media screen and (max-width: 1024px) {
    img.rainbow_img {
        margin-top: -4%;
        margin-left: -13%;
        width: 14%;
    }
    
    .activity_program_item img.profile {
        width: 27%;
        margin-bottom: 20px;
    }

    .activity_program_item p {
        width: 60%;
    }
    
    .activity_program_carousel .react-multiple-carousel__arrow--left {
        background-size: 80% !important;
        margin-left: 15%;
        margin-top: 18%;
    }
    
    .activity_program_carousel .react-multiple-carousel__arrow--right {
        background-size: 80% !important;
        margin-right: 10%;
        margin-top: 18%;
    }
}

@media screen and (max-width: 1024px) {
    .activity_program_item img.profile {
        width: 30%;
    }

    .activity_program_item p {
        width: 70%;
    }
    
    .activity_program_carousel .react-multiple-carousel__arrow--left {
        background-size: 70% !important;
        margin-left: 13%;
    }
    
    .activity_program_carousel .react-multiple-carousel__arrow--right {
        background-size: 70% !important;
        margin-right: 5%;
    }
}

@media screen and (max-width: 440px) {
    .activity_program_item img.profile {
        width: 60%;
    }

    .activity_program_item p {
        width: 100%;
    }
    
    .activity_program_carousel .react-multiple-carousel__arrow--left {
        background-size: 70% !important;
        margin-left: 0%;
        margin-top: -30%;
    }
    
    .activity_program_carousel .react-multiple-carousel__arrow--right {
        background-size: 70% !important;
        margin-right: -13%;
        margin-top: -30%;
    }
}