.activity-program {
    padding-block: 40px;
    padding-bottom: 140px;
    background-color: var(--white);
}

.activity-program-row {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-block: 30px;
}

.activity-program-row .animated {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
}

.activity-program-row .animated img {
    width: 40px;
}

.activity-program-row .animated h1 {
    font-size: var(--h3);
    font-family: var(--ff-secondary);
    color: var(--pink);
    font-weight: 500;
    letter-spacing: 1px;
}

.activity-program-row .animated h1::before {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/cap.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-top: -4%;
    margin-left: 5%;
    opacity: 0.4;
}

.activity-program-row .animated h2 {
    font-size: var(--h1);
}

.activity-program-row .animated p {
    width: 53%;
    color: var(--grey);
    padding-block: 4px;
    line-height: 26px;
}

.activity_program_carousel_outer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.activity_program_carousel {
    width: 85%;
    padding-block: 55px;
}

.activity_program_carousel ul {
    gap: 90px !important;
}

.carousel_item {
    width: 300px !important;
}

.activity_program_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.activity_program_item.first .profile {
    border: 10px solid var(--blue-light);
    border-radius: 10px;
}

.activity_program_item.second .profile {
    border: 10px solid var(--yellow);
    border-radius: 100%;
}

.activity_program_item.third .profile {
    mask-image: url('../../../../public/assets/rec-mask.png');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
}

.activity_program_item.third .profile-wrapper {
    width: 100%;
    mask-image: url('../../../../public/assets/rec-mask.png');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--gold);
}

.activity_program_item.fourth .profile {
    mask-image: url('../../../../public/assets/hex.png');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
}

.activity_program_item.fourth .profile-wrapper {
    width: 100%;
    mask-image: url('../../../../public/assets/hex.png');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--purple);
}

.activity_program_item.fifth .profile {
    mask-image: url('../../../../public/assets/sp.png');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
}

.activity_program_item.fifth .profile-wrapper {
    width: 100%;
    mask-image: url('../../../../public/assets/sp.png');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--green);
}

.activity_program_item img.small {
    width: 70px;
    position: absolute;
    margin-top: -45px;
    z-index: -1;
}

.activity_program_item:hover img.small {
    margin-top: -50px;
    transition: 0.4s;
}

.activity_program_item img.profile {
    width: 93%;
    box-shadow: 0px 16px 25.92px 1.08px var(--grey-lighter);
    transition: all 0.3s ease-out;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
}

.activity_program_item img.profile:hover {
    box-shadow: none;
}

.activity_program_item .profile-wrapper {
    width: 80%;
    box-shadow: 0px 16px 25.92px 1.08px var(--grey-lighter);
    transition: all 0.3s ease-out;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.rainbow_img {
    width: 100%;
}

.activity_program_item h1 {
    font-size: var(--h2);
}

.activity_program_item p {
    font-size: var(--h4);
    color: var(--grey);
    text-align: center;
}

.react-multiple-carousel__arrow {
    min-width: 170px !important;
    min-height: 70px !important;
}

.activity_program_carousel .react-multiple-carousel__arrow--left {
    background-image: url('../../../../public/assets/spider-left.svg') !important;
    background-repeat: no-repeat !important;
    background-size: 90% !important;
    background-color: transparent;
    transform-origin: center;
    animation: 3s ease-in-out 0s infinite alternate both rockshake;
    position: absolute;
    left: 0%;
    top: 64%;
}

.activity_program_carousel .react-multiple-carousel__arrow--left:hover {
    background-color: transparent;
}

.activity_program_carousel .react-multiple-carousel__arrow--left::before {
    content: none !important;
}

.activity_program_carousel .react-multiple-carousel__arrow--right {
    background-image: url('../../../../public/assets/spider-right.svg') !important;
    background-repeat: no-repeat !important;
    background-size: 90% !important;
    background-color: transparent;
    transform-origin: center;
    animation: 3s ease-in-out 0s infinite alternate both rockshake;
    position: absolute;
    right: 0%;
    top: 64%;
}

.activity_program_carousel .react-multiple-carousel__arrow--right:hover {
    background-color: transparent;
}

.activity_program_carousel .react-multiple-carousel__arrow--right::before {
    content: none !important;
}

@media screen and (max-width: 1024px) {
    .activity-program {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;
    }

    .activity_program_carousel_outer {
        width: 70%;
    }

    .carousel_item {
        width: 480px !important;
    }

    .activity_program_item {
        align-items: center;
    }

    .activity-program-row .animated {
        width: 86%;
    }

    .activity_program_item img.profile {
        width: 60%;
    }
}

@media screen and (max-width: 992px) {
    .activity-program-row .animated h1::before {
        margin-top: -5%;
        margin-left: 8%;
    }

    .activity-program-row .animated p {
        width: 68%;
    }
}

@media screen and (max-width: 768px) {
    .activity-program-row .animated p {
        width: 70%;
    }
}

@media screen and (max-width: 440px) {
    .activity-program-row .animated h1::before {
        margin-top: -10%;
        margin-left: 15%;
    }

    .activity-program-row .animated p {
        width: 95%;
    }
}