/* Nunito Font */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Syne:wght@400..800&display=swap');

/* Bubblegum Sans */
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Catamaran:wght@100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Syne:wght@400..800&display=swap');

:root {
    --ff-primary: "Nunito", sans-serif;
    --ff-secondary: "Bubblegum Sans", sans-serif;
    --h1: 32px;
    --h2: 24px;
    --h3: 19px;
    --h4: 16px;
    --fw: 600;
    --red: #EB1551;
    --pink: #EB1551;
    --pink-dark: #ce2d68;
    --gold: #F7941E;
    --cyan: #1CBBB4;
    --blue-light: #61BFC9;
    --blue: #0A6375;
    --blue-primary: #4D4EFF;
    --gold-lighter: #FFEFE4;
    --yellow: #FCCB13;
    --purple: #AD5FF3;
    --green: #7CFFBE;
    --grey: #6B6B84;
    --grey-lighter: #e0e0e0;
    --black: #000000;
    --white: #FFFFFF;
}

* {
    font-family: var(--ff-primary);
    margin: 0px;
    padding: 0px;
    transition: 0.1s linear;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    background-color: var(--gold-lighter);
}

.hc {
    width: 55%;
    height: 10px;
    background-image: url('../public//assets/line.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-inline: auto;
    transform: rotate(180deg);
    background-color: var(--white);
}

@keyframes textShadow {
    0%, 100% {
        text-shadow: 5px 5px 1px var(--grey);
    }
    50% {
        text-shadow: 7px 7px 1px var(--grey);
    }
}

@keyframes bounceInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }
    75% {
        transform: translate3d(0, 10px, 0);
    }
    90% {
        transform: translate3d(0, -5px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    75% {
        transform: translate3d(0, -10px, 0);
    }
    90% {
        transform: translate3d(0, 5px, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }
    75% {
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        transform: translate3d(5px, 0, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        transform: translate3d(10px, 0, 0);
    }
    90% {
        transform: translate3d(-5px, 0, 0);
    }
    100% {
        transform: none;
    }
}

@keyframes bounceInUpRelax {
    0% {
        transform: translate3d(0, 10px, 0);
    }
    50% {
        transform: translate3d(0, -5px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}