.facilities {
    padding-block: 120px;
    background-color: var(--gold-lighter);
}

.facilities-row-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    gap: 10px;
}

.facilities-row-1 .animated {
    width: 65%;
    text-align: center;
}

.facilities-row-1-col-1 {
    display: flex;
    justify-content: end;
}

.facilities-row-1-col-2 {
    width: 54%;
}

.facilities-row-1-col-2 .animated {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.facilities-row-1-col-2 .animated img {
    width: 70px;
    opacity: 0.2;
}

.facilities-row-1-col-2 .animated h1 {
    font-size: var(--h3);
    font-family: var(--ff-secondary);
    color: var(--pink);
    font-weight: 500;
    letter-spacing: 1px;
}

.facilities-row-1-col-2 .animated h1::before {
    position: absolute;
    content: "";
    background-image: url('../../../../public/assets/cap.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-top: -7%;
    margin-left: 5%;
    opacity: 0.2;
}

.facilities-row-1-col-2 .animated h2 {
    width: 50%;
    font-size: var(--h1);
}

.facilities-row-1-col-2 .animated p {
    width: 60%;
    font-size: var(--h4);
    color: var(--grey);
    line-height: 25px;
}

.facilities-row-1-col-3 {
    width: 20%;
    display: flex;
    justify-content: start;
}

.facilities-row-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-block: 50px;
}

.facilities-card {
    width: 470px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--white);
    gap: 15px;
    background-color: var(--blue);
    mask-image: url('../../../../public/assets/custom-shape-bg-layer.png');
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    transition: 0.49s;
}

.facilities-card:hover {
    background-color: var(--pink);
}

.facilities-card ~ .facilities-card-lower .svg {
    transform: translate(0px, 0px);
    transition: 0.4s;
    background-color: var(--blue-light);
}

.facilities-card:hover ~ .facilities-card-lower .svg {
    transform: translate(55px, -30px);
    transition: 0.4s;
    background-color: var(--pink-dark);
}

.facilities-card img {
    width: 100%;
    mask-image: url('../../../../public/assets/mask_image_imagebox.png');
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
    cursor: pointer;
}

.facilities-card h1 {
    font-size: var(--h2);
}

.facilities-card p {
    padding-inline: 8px;
    font-size: var(--h4);
    padding-bottom: 5%;
}

.facilities-card-lower {
    display: flex;
    align-items: center;
    gap: 70px;
}

.svg {
    width: 75px;
    height: 75px;
    background-color: var(--blue-light);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    margin-top: -10%;
    margin-left: -2%;
    position: relative;
    z-index: 10;
}

.button-div {
    margin-top: -5%;
    margin-left: 8%;
    position: relative;
    z-index: 10;
}

.star_img {
    width: 100%;
}

.planet_2_img {
    width: 100%;
}

.curl_waves {
    content: "";
    background-image: url('../../../../public/assets/underline.svg');
    background-position: center;
    background-repeat: repeat-x;
    background-size: 27px;
    width: 45%;
    height: 10px;
}

.curl_waves:hover {
    animation: underline_go_brruh infinite 7s;
}

@media screen and (max-width: 1024px) {
    .facilities {
        padding-block: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .facilities-row-1-col-1 {
        display: none;
    }
    
    .facilities-row-1-col-2 {
        width: 100%;
    }
    
    .facilities-row-1-col-2 .animated h1::before {
        width: 45px;
        height: 45px;
        margin-top: -4.5%;
        margin-left: 4%;
    }
    
    .facilities-row-1-col-2 .animated p {
        width: 46%;
    }
    
    .facilities-row-1-col-3 {
        display: none;
    }
    
    .facilities-row-2 {
        width: 80%;
        padding-block: 50px;
    }
    
    .facilities-card {
        width: 280px;
        gap: 15px;
    }
    
    .svg {
        width: 75px;
        height: 75px;
        margin-top: -11%;
        margin-left: -4%;
    }
    
    .button-div {
        margin-top: -14%;
        margin-left: -22%;
    }
    
    .curl_waves {
        width: 50%;
    }
}

@media screen and (max-width: 992px) {
    .facilities {
        padding-block: 80px;
    }
    
    .facilities-row-1-col-2 .animated h2 {
        width: 60%;
    }

    .facilities-row-1-col-2 .animated p {
        width: 58%;
    }
    
    .facilities-row-2 {
        width: 100%;
        gap: 30px;
        padding-block: 20px;
    }
    
    .facilities-card {
        width: 280px;
        gap: 15px;
    }
}

@media screen and (max-width: 768px) {
    .facilities {
        padding-block: 80px;
    }
    
    .facilities-row-1-col-2 .animated h2 {
        width: 60%;
    }

    .facilities-row-1-col-2 .animated h1::before {
        margin-top: -5.5%;
        margin-left: 5%;
    }

    .facilities-row-1-col-2 .animated p {
        width: 62%;
    }
    
    .facilities-row-2 {
        width: 100%;
        gap: 30px;
        padding-block: 20px;
    }
    
    .facilities-card {
        width: 280px;
        gap: 15px;
    }
}

@media screen and (max-width: 440px) {
    .facilities {
        padding-block: 60px;
    }
    
    .facilities-row-1-col-2 .animated h2 {
        width: 90%;
        font-family: calc(var(--h1) - 4px);
        line-height: 40px;
    }

    .facilities-row-1-col-2 .animated h1::before {
        margin-top: -10.5%;
        margin-left: 10%;
    }

    .facilities-row-1-col-2 .animated p {
        width: 80%;
    }
    
    .facilities-row-2 {
        flex-direction: column;
        align-items: center;
    }
}